<footer>
    <div id = "footerTop">
        <div>
            <div>
                <img src="../../assets/images/logoOrange.svg" alt="dic1 shop logo">
                <h1>Boutique de DIC1</h1>
            </div>
            <ul>
                <li>Assistance client: <br> <span>775858575</span></li>
                <li>4517 Aloup Kagne. <br> Sénégal,Thies EPT</li>
                <li>ept&#64;ept.sn</li>
            </ul> 
        </div>
            
        <div>
            <h3>Catégorie supérieure</h3>
            <ul>
                <li><a href="#">Ordinateur et ordinateur portable</a></li>
                <li><a href="#">Téléphone intelligent</a></li>
                <li><a href="#">casque de musique</a></li>
                <li><img src="../../assets/images/yellowDash.svg" alt="yellow dash icon"><h4>Accessoires</h4></li>
                <li><a href="#">Appareil photo et photo</a></li>
                <li><a href="#">Télévision et maisons</a></li>
                <li><a href="#">Parcourir tous les produits <img src="../../assets/images/yellowArrow.svg" alt="right directed arrow logo"></a></li>
            </ul>
        </div>

        <div>
            <h3>Liens rapides</h3>
            <ul>
                <li><a href="#">Acheter le produit</a></li>
                <li><a href="#">Panier</a></li>
                <li><a href="#">Liste de souhaits</a></li>
                <li><a href="#">comparateur</a></li>
                <li><a href="#">Suivi de commande</a></li>
                <li><a href="#">Aide client</a></li>
                <li><a href="#">À propos de nous</a></li>
            </ul>
        </div>

        <div>
            <h3>Télécharger <br> l'application</h3>
            <div>
                <a href="#"><img src="../../assets/images/googleStore.svg" alt="logo google play store"></a>
                <p>
                    Obtenez le maintenant <br> <span>par Google</span>
                </p>
            </div>
            <div>
                <a href="#"><img src="../../assets/images/apple.svg" alt="logo apple"></a>
                <p>
                    Obtenez le maintenant <br> <span>Magasin d'applications</span>
                </p>
            </div>
        </div>

        <div>
            <h3>Balise populaire</h3>
            <div>
                <em>Jeu</em>
                <em>iPhone</em>
                <em>la télé</em>
                <em>Ordinateurs portables Asus</em>
                <em>MacBook</em>
                <em>SSD</em>
                <em>Carte graphique</em>
                <em>Banque de puissance</em>
                <em>Smart TV</em>
                <em>Conférencier</em>
                <em>Tablette</em>
                <em>Four micro onde</em>
                <em>Samsung</em>
            </div>
        </div>
    </div>
    <div></div>
</footer>