<div id="container">
  <div><img src="../../assets/images/valider.svg" alt="icone validation"></div>
  <div>
    <h2 class="para1">votre commande a été validée</h2>
    <p class="para2">
      Pellentesque sed lectus nec tortor tristique accumsan quis <br>
      dictum risus. Donec volutpat mollis nulla non facilisis.
    </p>
    <button class="one"> <a routerLink="/"></a><span>ACCUEIL</span> <img src="../../assets/images/droite.svg"
        alt="fleche droite"></button><br>
    <button disabled class="two"><span>SUIVRE LE COLIS</span> <img src="../../assets/images/droite.svg"
        alt="fleche droite"></button>
  </div>
</div>
